<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
	<button class="dl-trigger">Open Menu</button>
	<ul class="dl-menu">
		<li><a href="{{ site.url }}">Главная</a></li>
		<li>
			<a href="#">Сервер</a>
			<ul class="dl-submenu">
			{% for link in site.data.navigation_server %}
				{% if link.url contains 'http' %}
					{% assign domain = '' %}
				{% else %}
					{% assign domain = site.url %}
				{% endif %}
				<li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
			{% endfor %}
			</ul>
		</li>
		{% for link in site.data.navigation %}
			{% if link.url contains 'http' %}
				{% assign domain = '' %}
			{% else %}
				{% assign domain = site.url %}
			{% endif %}
			<li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		{% endfor %}
		<li>
			<a href="#">Записи блога</a>
			<ul class="dl-submenu">
				<li><a href="{{ site.url }}/posts/">Все записи</a></li>
				<li><a href="{{ site.url }}/tags/">Все тэги</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Контакты</a>
			<ul class="dl-submenu">
				<li>
					<img src="{{ site.contact.avatar }}" alt="Avarar" class="author-photo">
					<h4>Контакты</h4>
					<p>{{ site.contact.text }}</p>
				</li>
				{% if site.contact.email %}<li>
					<a href="mailto:{{ site.contact.email }}"><i class="fa fa-envelope"></i> Email</a>
				</li>{% endif %}
				{% if site.contact.vkontakte %}<li>
					<a href="http://vk.com/{{ site.contact.vkontakte }}"><i class="fa fa-vk"></i> Vkontakte</a>
				</li>{% endif %}
				{% if site.contact.skype %}<li>
					<a href="skype:{{ site.contact.skype }}?chat"><i class="fa fa-skype"></i> Skype</a>
				</li>{% endif %}
				{% if site.contact.twitter %}<li>
					<a href="http://twitter.com/{{ site.contact.twitter }}"><i class="fa fa-twitter"></i> Twitter</a>
				</li>{% endif %}
				{% if site.contact.facebook %}<li>
					<a href="http://facebook.com/{{ site.contact.facebook }}"><i class="fa fa-facebook"></i> Facebook</a>
				</li>{% endif %}
				{% if site.contact.google_plus %}<li>
					<a href="https://google.com/{{ site.contact.google_plus }}"><i class="fa fa-google-plus"></i> Google+</a>
				</li>{% endif %}
				{% if site.contact.linkedin %}<li>
					<a href="http://linkedin.com/in/{{ site.contact.linkedin }}"><i class="fa fa-linkedin"></i> LinkedIn</a>
				</li>{% endif %}
				{% if site.contact.github %}<li>
					<a href="http://github.com/{{ site.contact.github }}"><i class="fa fa-github"></i> GitHub</a>
				</li>{% endif %}
				{% if site.contact.stackexchange %}<li>
					<a href="{{ site.contact.stackexchange }}"><i class="fa fa-stack-exchange"></i> Stackexchange</a>
				</li>{% endif %}
				{% if site.contact.instagram %}<li>
					<a href="http://instagram.com/{{ site.contact.instagram }}"><i class="fa fa-instagram"></i> Instagram</a>
				</li>{% endif %}
				{% if site.contact.flickr %}<li>
					<a href="http://www.flickr.com/photos/{{ site.contact.flickr }}"><i class="fa fa-flickr"></i> Flickr</a>
				</li>{% endif %}
				{% if site.contact.tumblr %}<li>
					<a href="http://{{ site.contact.tumblr }}.tumblr.com"><i class="fa fa-tumblr"></i> Tumblr</a>
				</li>{% endif %}
			</ul><!-- /.dl-submenu -->
		</li>
	</ul><!-- /.dl-menu -->
</nav><!-- /.dl-menuwrapper -->
